.navbar{
    color: white;
    background-color: blue;
    height: 3rem;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    /* height: 100vh; */
    /* background: linear-gradient(to right,#0f4c81, #1fa2ff); */
}
.container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    background: #fff;
    padding: 30px 40px;
    border-radius: 8px;
    width: 320px;
}
.input{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
label{
    margin-bottom: 5px;
    font-weight: 600;
}
input{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button{
    width: 100%;
    padding: 10px;
    background-color: #27c2d4;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: #1aa5b5;
}